/target/
/build/
/yaml*/
/yaml*
/sql*/
/sql*
/test*/
/test*
/nidmaps/
/sers/
**/_*/
**/_*
/oewn.csv
/dependency-reduced-pom.xml
/oewn-grind-yaml2sql.jar
/build
/dependency-reduced-pom.xml
/oewn-grind-yaml2sql.jar
