/target/
/build/

/yaml*/
/yaml*
/sql*/
/sql*
/out*/
/out*
/nidmaps/
/sers*/
/sers*
/pr*/
/pr*

**/_*/
**/_*
**/*.jar
**/oewn.ser
**/oewn.info
**/build

/dist/*.zip
/oewn.csv
/dependency-reduced-pom.xml
